.main__about {
    //отступ для меню
    margin-top: 100px;
}

@media screen and (max-width:1023px) {
    .main__about {
        //отступ для меню
        margin-top: 85px;
    }
}

.main {
    background-color: $clr-bg-frame;
}

.about {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__photo {
        width: auto;

    }
}

.section {

    &__slogan {
        font-weight: 300;
    }

    &__subtitle {
        color: $color-btn-text-green;
        font-size: $fontsize-desktop-undertitle;
    }


}

.group-img {

    &__img {
        position: absolute;
    }

}