.approach {

  &__title {
    margin-top: $gap;
    margin-bottom: $gap-undertitle;
    //padding: 9.375rem 0 4.125rem;
    font-family: $font-titles;
    font-size: $fontsize-desktop-h2;
    font-style: 500;
  }

  &__header {
    padding-bottom: 3.44rem;

    .header-aproach {
      display: flex;

      &__slogan {
        font-family: $font-titles;
        font-size: $fontsize-desktop-h3;
        font-style: 500;
        color: $color-btn-text-blue;
        line-height: 100%;
      }

      &__img {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        .group-img {
          .line {
            padding: 0 24px;
          }

         &__img { 
         max-width: 108px;
         height: 115px;}
        }
      }

      &__text {
        padding-top: 1.5rem;
        max-width: 564px;
        font-family: $font-texts;
        font-size: $fontsize-desktop-text;
        font-style: 400;
        /* regular */
        line-height: 120%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10rem;

    .list {

      &__list-1 {
        flex: 1;

        .list-1 {
          &__title {
            color: $color-btn-text-blue;
            font-family: $font-titles;
            font-size: $fontsize-desktop-undertitle;
            font-style: 500;
            line-height: 100%;
            padding-bottom: 1.31rem;
          }

          &__item {
            font-family: $font-texts;
            font-size: $fontsize-desktop-text;
            font-style: 400;
            line-height: 120%;

            .krest {
              background-image: url(../assets/image/approach/krestik.svg);
              background-repeat: no-repeat;
              background-size: cover;
              width: 32.5px;
              height: 32.5px;
              display: inline-block;
              margin-right: 1rem;
            }
          }
        }
      }

      &__list-2 {
        flex: 1;

        .list-2 {

          &__title {
            color: #077840;
            font-family: $font-titles;
            font-size: $fontsize-desktop-undertitle;
            font-style: 500;
            line-height: 100%;
            padding-bottom: 1.31rem;
          }

          &__item {
            font-family: $font-texts;
            font-size: $fontsize-desktop-text;
            font-style: 400;
            line-height: 120%;

            .check {
              background-image: url(../assets/image/approach/galochka.svg);
              background-repeat: no-repeat;
              background-size: cover;
              width: 30px;
              height: 30px;
              display: inline-block;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  @media(min-width:1024px) and (max-width:1439px) {
    
    &__title {
            font-size: $fontsize-tablet-h2;
 }

 &__header {
  padding-bottom: 3.44rem;

  .header-aproach {
     &__slogan {
      font-size: $fontsize-tablet-h3;
          }
     &__text {
           font-size: $fontsize-tablet-text;
          }
  }
}
&__list {
  display: flex;
  flex-direction: row-reverse;
  .list {
    &__list-1 {
       .list-1 {
        &__title {
          font-size: $fontsize-tablet-undertitle;
            }
        &__item {
          font-size: $fontsize-tablet-text;
                        }
      }
    }

    &__list-2 {
            .list-2 {
        &__title {
                 font-size: $fontsize-tablet-undertitle;
               }

        &__item {
                font-size: $fontsize-tablet-text;
                 }
      }
    }
  }
}
}
}
