.container{
  margin: 0 auto;
  max-width: 1160px;
}

.title { 
/* font-family: ; */
/*   font-style: 500; */
font-size: 68px; 
text-align: center;
/*   color: ; */
}

.slogan { 
/*   font-family: ;  */
/*   font-style: 500; */
  font-size: 42px; 
 /*   color: ; */
}

@mixin button-long($background-color,$max-width){    /* сделать миксин */

color: white; 
display: flex;
justify-content: center;
align-items: center;
padding: 0.7rem 1rem;
border-radius: 30px;

/*   font-family: 'Roboto Slab', serif; */
}

/* .button-long:hover {
background-color: $white;
color: $hover;
border-color: $hover;
} */