* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
    display: flex;
    //чтобы гамбургер был справа
    justify-content: end;
    align-items: center;
    height: 100px;

    //прячем мобильное меню
    .hamb,
    .popup {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;

        &__link {
            color: #1E2124;
            text-decoration: none;
            font-size: 1.17vw;
            font-family: "Montserrat", Arial, sans-serif;

            &:hover {
                color: #077840;
            }
        }
    }

}

/* Стиль меню при скролле */
#header.scrolled {
    background-color: #245799;
    border-radius: 0 0 30px 30px;

    .nav {
        &__link {
            color: white;

            &:hover {
                color: #6ec69a;
            }
        }
    }
}

// меню конец


// адаптация
@media screen and (max-width:1023px) {

    // гамбургер меню для экранов меньше 1024px по ширине, так как в этом месте меню начинает ломаться
    .header {
        height: 85px;
        background-color: #245799;

        .container {
            display: none;
        }

        .hamb {
            display: flex;
            align-items: center;
            margin-right: 10px;

            &__field {
                padding: 10px 20px;
                cursor: pointer;
            }

            // гамбургер - полоски
            .bar {
                display: block;
                width: 30px;
                height: 3px;
                margin: 6px auto;
                background-color: white;
                transition: 0.2s;
            }
        }

        // фон попапа
        .popup {
            position: fixed;
            top: 85px;
            left: -100%;
            width: 100%;
            height: 700px;
            background-color: #245799;
            z-index: 100;
            display: flex;
            transition: 0.3s;
            border-radius: 0 0 30px 30px;
        }

        .popup.open {
            left: 0;
        }

        .popup .header__conteiner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100%;
            height: 100%;

            .nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                padding: 50px 0;
                overflow: auto;

                // линии в мобильном меню
                .nav__link:not(.nav__link_first) {
                    border-top: 1px solid white;
                }

                //пункты меню
                .nav__link {
                    width: 70%;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    font-size: 34px;
                }

            }


        }

        // .popup .header__menu>li {
        //     width: 100%;
        // }

        // .popup .header__menu>li>a {
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        //     padding: 20px 0;
        //     font-size: $little-lap;
        //     font-weight: bold;
        //     color: $black;
        // }

        // .popup .header__menu>li>a:hover {
        //     background-color: rgba(122, 82, 179, 0.1);
        // }

        // .hamb__field.active .bar:nth-child(2) {
        //     opacity: 0;
        // }

        // .hamb__field.active .bar:nth-child(1) {
        //     transform: translateY(8px) rotate(45deg);
        // }

        // .hamb__field.active .bar:nth-child(3) {
        //     transform: translateY(-10px) rotate(-45deg);
        // }

        // body.noscroll {
        //     overflow: hidden;
        // }
    }

    /* Стиль меню при скролле */
    #header.scrolled {
        background-color: #245799;
        border-radius: 0;
        // .nav {
        //     &__link {
        //         color: white;

        //         &:hover {
        //             color: #6ec69a;
        //         }
        //     }
        // }
    }
}

// конец адаптации меню