.main__message-me {
  margin-left: 9.723vw; //140px
  margin-top: 10.4167vw; //150px
  // margin-top: $gap;

  @media screen and (max-width:1023px) {
    margin-left: 9.7752vw; //100px
    margin-top: 9.7752vw; //100px
  }

  @media screen and (max-width: 767px) {
    margin-left: 9.648vw; //74px
    margin-top: 10.43025vw; //80px
  }
}

.message-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 2.778vw; //40px

  @media screen and (max-width:1023px) {
    column-gap: 1.9551vw; //20px
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-end;
    // justify-content: flex-start;
    row-gap: 5.998vw; //46px
  }
}

.message-me__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 38.89vw; //600px-40px

  @media screen and (max-width: 1023px) {
    max-width: 39.1vw; //420px-20px
  }

  @media screen and (max-width: 767px) {
    max-width: 80.8344vw; //620px
    align-self: self-start;
  }
}

.message-me__title {
  margin: 0; //сброс стиля браузера

  color: $color-primary;
  font-family: $font-titles;
  font-weight: 400;
  font-size: 4.72vw; //68px
  line-height: 5.694vw; //82px
  /* identical to box height */

  @media screen and (max-width:1023px) {
    font-size: 5.4741vw; //56px;
    line-height: 6.549365vw; //67px;
  }

  @media screen and (max-width: 767px) {
    font-size: 6.25815vw; //48px;
    line-height: 7.56193vw; //58px;
  }
}


.message-me__subtitle {
  margin-top: 0;

  color: $color-primary;
  font-family: $font-texts;
  font-weight: 400;
  font-size: 1.39vw; //20px
  line-height: 1.67vw; //24px

  @media screen and (max-width: 1023px) {
    margin-top: 0.48876vw; //5px

    font-size: 1.75953vw; //18px;
    line-height: 2.15054vw; //22px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 0.52151vw; //4px

    font-size: 2.21643vw; //17px;
    line-height: 2.73794vw; //21px;
  }
}

// .message-me__form-part {
//   margin-top: vw; //задан в .message-me__form
// }

.form-part {
  display: flex;
  flex-direction: column;
  row-gap: 6.0417vw; //87px

  @media screen and (max-width:1023px) {
    row-gap: 2.6393vw; //27px
  }

  @media screen and (max-width: 767px) {
    row-gap: 5.6063vw; //43px
  }
}

.message-me__form {
  margin-top: 3.2639vw; //47px

  @media screen and (max-width:1023px) {
    margin-top: 0.8798vw; //9px
  }

  @media screen and (max-width: 767px) {
    margin-top: 4.6936vw; //36px
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2.2917vw; //33px

    @media screen and (max-width:1023px) {
      row-gap: 0.8798vw; //9px
    }

    @media screen and (max-width: 767px) {
      row-gap: 4.30247718383vw; //33px
    }

  &__input {
    border: none;
    border-bottom: 2px solid #557DB0;
    background-color: $clr-bg-frame;

    width: 38.89vw;
    height: 3.8194vw;

    @media screen and (max-width:1023px) {
      width: 39.1vw; //400px
      height: 5.3763vw; //55px
    }
  
    @media screen and (max-width: 767px) {
      width: 80.704vw; //619px
      height: 7.1708vw; //55px
    }
  }

  &__input::placeholder {
    color: #766F6F;
    font-family: $font-texts;
    font-weight: 400;
    font-size: 1.39vw; //20px

    @media screen and (max-width: 1023px) {
      font-size: 1.75953vw; //18px;
    }
  
    @media screen and (max-width: 767px) {
      font-size: 2.21643vw; //17px;
    }
  }

  &__label {
    color: $color-primary;
    font-family: $font-texts;
    font-weight: 400;
    // font-size: 1.1vw; //16px
    font-size: 1.11111111vw; //16px
    // font-size: $fontsize-desktop-smalltext;
    line-height: 1.39vw; //20px

    margin-top: 1.25vw; //51px-33px gap

    @media screen and (max-width: 1023px) {
      font-size: 1.56403vw; //16px;
      line-height: 1.9551vw; //20px;

      margin-top: 3.0304vw; //40px-9px gap
    }
  
    @media screen and (max-width: 767px) {
      font-size: 2.08605vw; //16px;
      line-height: 2.60757vw; //20px;

      margin-top: -0.91265vw; //26px-33px gap = -7px
    }
  }

  &__link {
    color: $color-primary;
  }
}

.message-me__button-long_white {
  cursor: pointer;

  background-color: $clr-bg-frame;
  border: 2px solid #557db0;
  border-radius: 2.083vw; //30px

  color: $color-primary;
  font-family: $font-texts;
  font-weight: 400;
  font-size: 1.39vw; //20px
  // text-align: center;

  width: 38.9583vw; //561px
  height: 4.17vw; //60px

  margin-top: 1.7362vw; //58px - 33px gap = 25px

  @media screen and (max-width:1023px) {
    border-radius: 2.9326vw; //30px
    font-size: 1.7595vw; //18px
    width: 39.1vw; //400px
    height: 5.8651vw; //60px

    margin-top: 2.0528vw; //30px - 9px gap = 21px
  }

  @media screen and (max-width: 767px) {
    border-radius: 3.9113vw; //30px
    font-size: 2.6076vw; //20px
    width: 80.8344vw; //620px
    height: 7.8227vw; //60px

    margin-top: 1.8255vw; //47px - 33px gap = 14px
  }
}

.mm-task-btn {
  display: flex;
  justify-content: space-between;
  //gap: 2.78vw; //40px

  flex-direction: row;
  flex-wrap: nowrap;

    @media screen and (max-width:1023px) {
      flex-wrap: wrap;
      row-gap: 3.6168vw; //37px
  }

    @media screen and (max-width: 767px) {
      flex-wrap: nowrap;
      column-gap: 3.9113vw; //30px
    }
}

.mm-task-btn__button-long {
  cursor: pointer;

  background-color: $color-btn-text-blue;
  transition: background-color 0.6s;
  border: none;
  border-radius: 2.083vw; //30px

  color: $color-btn-text-white;
  font-family: $font-texts;
  font-weight: 400;
  font-size: 1.39vw; //20px

  width: 18.4vw; //265px
  height: 4.17vw; //60px

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width:1023px) {
    border-radius: 2.9326vw; //30px
    font-size: 1.7595vw; //18px
    width: 39.1vw; //400px
    height: 5.8651vw; //60px
  }

  @media screen and (max-width: 767px) {
    border-radius: 3.9113vw; //30px
    font-size: 2.2164vw; //17px
    width: 38.4615vw; //295px
    height: 7.8227vw; //60px
  }

  &:hover {
    background-color: $color-btn-text-green;
    transition: background-color 0.8s;
  }
}

.mm-task-btn__button-long_green {
  background-color: $color-btn-text-green;
  transition: background-color 0.6s;

  &:hover {
    background-color: $color-btn-text-blue;
    transition: background-color 0.8s;
  }
}

.social-icon {
  background-image: url(../assets/image/telegram-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.39vw; //20px
  height: 1.39vw; //20px
  display: inline-block;
  margin-left: 0.6944vw; //10px

  @media(min-width:767px) and (max-width:1023px) {

    width: 1.955vw; //20px
    height: 1.955vw; //20px
    margin-left: 0.9775vw; //10px
  }

  @media screen and (max-width: 767px) {

    width: 2.6076vw; //20px
    height: 2.6076vw; //20px
    margin-left: 1.3038vw; //10px
  }
}

.social-icon_whatsapp {
  background-image: url(../assets/image/whatsapp-icon.svg);
}

.message-me__img {
  width: 100%;
  max-width: 700px;
  //   max-width: 48.61vw; //700px

  //   @media screen and (max-width: 1023px) {
  //     max-width: 49.07vw; //502px
  //   }

  //   @media screen and (max-width: 767px) {
  //     max-width: 79.9218vw; //613px
  //   }

}

// Универсальное решение, которое убирает подсветку во всех браузерах 
// и не только на input, но и на других элементах, 
// в том числе select, button, a:

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

// Подсветка при фокусе; переключать фокус с одного поля на другое 
// как по Tab так и по Shift+Tab в обратную сторону
button:focus {
  border: 2px solid #9ec7b3;
}

.form__input:focus {
  // outline: 0;
  // outline-offset: 0;
  border: 2px solid #9ec7b3;
}

.form__link:focus {
  border: 2px solid #9ec7b3;
}


// Стилизация checkbox - вариант 2

.form__checkbox {
//Скрываем, но работает по Tab, отмечается по нажатию Space (Пробел)
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.form__checkbox:focus + .form__custom-checkbox {
  box-shadow: 0px 0px 0px 2px #9ec7b3;
}

.form__custom-checkbox {
  position: relative; /* Относительное позиционирование */
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #f9f7f1;

  border: 2px solid #557db0;

  vertical-align: sub;
  margin-right: 24px;
}

.form__custom-checkbox::before {
  content: '';

  /* Рисуем галочку */
  display: inline-block;
  width: 22px;
  height: 17px;
  background-image: url("/assets/image/form/checkbox-tick.svg");
  background-size: contain;
  background-repeat: no-repeat;

  /* Выравниваем по центру */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0); // галочка скрыта изначально
  margin-top: 1px;

  transition: 0.2s ease-in; // появляется при нажажтии
}

/* Активируем декоративный чекбокс */
.form__checkbox:checked + .form__custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

// Tablet
// @media screen and (max-width:1023px)

// Mobile
// @media screen and (max-width:767px)