.policy {
  &__wrapper {
    margin: 6vw 9.723vw;
  }

  &__text {
    line-height: 125%;
    span {
      font-weight: 500;
    }
  }

  &__btn {
    button {
      cursor: pointer;
  
      background-color: $clr-bg-frame;
      transition: background-color 0.6s;
      border: 2px solid #245799;
      border-radius: 2.083vw;
      color: $color-primary;
      font-family: $font-texts;
      font-weight: 400;
      font-size: 1rem;
      width: 9vw;
      height: 4.17vw;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      @media screen and (max-width:1023px) {
        border-radius: 3vw;
        width: 10vw;
        height: 5.8651vw;
      }
  
      @media screen and (max-width: 767px) {
        border-radius: 4vw;
        width: 15vw;
        height: 7.8227vw;
      }
  
      &:hover {
        background-color: #245799;
        transition: background-color 0.8s;
        color: #ffffff;
      }
    }
  }
}

.policy-back {
  &__to-left {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    text-decoration: none;
  }

  &__text {
    color: #557DB0;
    font-weight: 500;
  }
}