.main__services {
  margin-top: $gap;
}

.services {
  &__title {
    text-align: center;
    font-family: $font-titles;
    font-size: $fontsize-desktop-h2;
    font-style: 500;
    margin-bottom: $gap-undertitle;
  }

  &__wrapper-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vw 45vw;
    column-gap: 2vw;
    row-gap: 4vh;
  }

  &__card-1 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 18% 18% 1fr;
    justify-content: center;
  }

  &__card-2 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 27% 15% 1fr;
    justify-content: center;
  }

  &__card-3 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 21% 17% 1fr;
    justify-content: center;
  }

  &__card-4 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 27% 19% 1fr;
    justify-content: center;
  }
}

//.container {}

//.title {}

.card {
  &__title {
    text-align: center;
    justify-content: center;
    background-color: $color-btn-text-blue;
    border-radius: 30px 30px 0 0;
  }

  &__title_main {
    font-family: $font-titles;
    font-size: $fontsize-desktop-undertitle;
    font-weight: normal;
    font-style: normal;
    color: $color-btn-text-white;
    line-height: 38.4%;
  }

  &__title_green {
    font-family: $font-titles;
    font-size: $fontsize-desktop-undertitle;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: $color-lite-green;
  }

  &__subtitle {
    font-family: $font-titles;
    font-size: $fontsize-desktop-h3;
    font-style: 500;
    color: $color-btn-text-blue;
    line-height: 100%;
    text-align: center;
    padding-top: 2vw;
  }

  &__text {
    padding: 0 5vw 0 5vw;
    font-family: $font-texts;
    font-size: $fontsize-desktop-smalltext;
    font-style: 400;
    text-align: justify;
    line-height: 1.3vw;
  }

  &__btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 3vh;
    column-gap: 2vw;

  }

  &__text_blue {
    color: $color-btn-text-blue;
  }
}

.line {
  padding-left: 2vw;
  padding-right: 2vw;
}

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  border-color: transparent;
  width: 40px;
  height:40px;

/*   height: 3vw;
  width: 3vw; */
  background-color: $color-btn-text-blue;
  cursor: pointer;

  //.iconsocial {
  //width: 1.5vw;
  // height: 1.5vw;
  //}
}

.social_icon {
  background-image: url(../assets/image/telegram-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 17.45px;
 // width: 1.6vw;
  //height: 1.6vw;
  display: inline-block;

  &_whatsapp {
    background-image: url(../assets/image/whatsapp-icon.svg);
    width: 21px;
  height: 21px;
  }
}

.tel {
  padding-right: 0.7vw;
}

.button-round_green {
  background-color: $color-btn-text-green;
}

.button-round:hover {
  background-color: $color-btn-text-green;
}

.button-round_green:hover {
  background-color: $color-btn-text-blue;
}

//-----------adaptive tablet----------//

@media(min-width:767px) and (max-width:1023px) {

  .services {
    &__title {
      font-size: $fontsize-tablet-h2;
    }

    &__wrapper-cards {
      grid-template-rows: 65vw 65vw;
    }

    &__card-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 16% 18% 1fr;
    }

    &__card-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 25% 15% 1fr;
    }

    &__card-3 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 20% 17% 1fr;
    }

    &__card-4 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 24% 19% 1fr;
    }
  }

  .card {
    &__title {
      font-size: $fontsize-tablet-undertitle;
    }

    &__title_main {
      width: 40vw;
      line-height: 2.3vw;
      padding-left: 4vw;
    }

    &__subtitle {
      font-size: $fontsize-tablet-h3;
      padding-top: 3vw;
    }

    &__text {
      font-size: $fontsize-tablet-smalltext;
    }
  }

  .position {
    font-size: $fontsize-tablet-undertitle;
    padding-top: 2vw;
    color: $color-btn-text-white;
  }

  .line-height {
    font-size: $fontsize-tablet-undertitle;
    padding-top: 2vw;
  }

  .tel {
    padding-right: 1vw;
  }

  /* .button-round {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    border-radius: 3vw;
    //border-color: transparent;
    height: 5.5vw;
    width: 5.5vw;
    //background-color: $color-btn-text-blue;
    //cursor: pointer;
  }

  .button-round_green {
    background-color: $color-btn-text-green;
  }

  .social_icon {
    background-image: url(../assets/image/telegram-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.6vw;
    height: 1.6vw;
    display: inline-block;
    //margin-left: 0.6944vw;

    &_whatsapp {
      background-image: url(../assets/image/whatsapp-icon.svg);
      width: 2vw;
      height: 2vw; 
    }
  }*/
}


//-----------adaptive mobile---------//

@media screen and (max-width:766px) {

  .services {

    &__title {
      font-size: $fontsize-mobile-h2;
    }

    &__wrapper-cards {
      grid-template-columns: 1fr;
      grid-template-rows: 65vw 65vw 65vw 65vw;
    }

    &__card-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 18% 18% 1fr;
    }

    &__card-2 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 27% 15% 1fr;
    }

    &__card-3 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 22% 17% 1fr;
    }

    &__card-4 {
      grid-template-columns: 1fr;
      grid-template-rows: 23% 13% 5% 27% 19% 1fr;
    }
  }

  .card {
    &__title {
      font-size: $fontsize-mobile-undertitle;
    }

    &__subtitle {
      font-size: $fontsize-mobile-h3;
      padding-top: 3vw;
    }

    &__text {
      font-size: $fontsize-mobile-smalltext;
      line-height: 2.3vw;
    }
  }

  .position {
    font-size: $fontsize-mobile-undertitle;
    padding-top: 2vw;
    color: $color-btn-text-white;
  }

  .line-height {
    font-size: $fontsize-mobile-undertitle;
    padding-top: 2vw;
  }

  /* .button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5vw;
    border-color: transparent;
    height: 6vw;
    width: 6vw;
    //background-color: $color-btn-text-blue;
    cursor: pointer;
    padding-right: 1.7vw; */

    //.iconsocial {
    //width: 30vw;
    //height: 30vw;
    //}
/*   } */

  //.tel {
  //padding-right: 0.1vw;
  //}
}