.services-business {
  position: relative;
  height: 155vh;

  //&__business {}

  &__title {
    margin-top: $gap;
    margin-bottom: $gap-undertitle;
    //padding: 0 1.7vw;
    text-align: center;
    font-family: $font-titles;
    font-size: $fontsize-desktop-h2;
    font-style: 500;
    height: 15vh;
  }

  &__info-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  //&__img-1 {}

  &__text-1 {
    width: 21vw;
    padding-top: 10vh;
    font-family: $font-texts;
    font-size: $fontsize-desktop-text;
    font-style: 400;
    line-height: 120%;
  }

  &__text-2 {
    width: 24vw;
    padding-top: 10vh;
    font-family: $font-texts;
    font-size: $fontsize-desktop-text;
    font-style: 400;
    line-height: 120%;
  }

  &__img-2 {
    position: absolute;
    padding-top: 35vh;
    padding-left: 26vw;
    max-width: 400vw;
  }
}

//.title {}

.bluetext {
  color: $color-btn-text-blue;
}

//------------adaptive tablet----------//

@media(min-width:767px) and (max-width:1023px) {
  .services-business {
    //position: relative;
    height: 155vh;

    //&__business {}

    &__title {
      margin-top: $gap;
      margin-bottom: $gap-undertitle;
      //padding: 0 1.7vw;
      text-align: center;
      font-family: $font-titles;
      font-size: $fontsize-tablet-h2;
      font-style: 500;
      height: 15vh;
    }

    &__info-wrapper {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &__img-1 {
      display: none;
    }

    &__text-1 {
      width: 21vw;
      padding-top: 10vh;
      font-family: $font-texts;
      font-size: $fontsize-tablet-text;
      font-style: 400;
      line-height: 120%;
    }

    &__text-2 {
      width: 24vw;
      padding-top: 10vh;
      font-family: $font-texts;
      font-size: $fontsize-tablet-text;
      font-style: 400;
      line-height: 120%;
    }

    &__img-2 {
      //position: absolute;
      padding-top: 35vh;
      padding-left: 26vw;
      max-width: 400vw;
    }
  }

  //.title {}

  .bluetext {
    color: $color-btn-text-blue;
  }
}

//------------adaptive mobile----------//

@media screen and (max-width:766px) {}