// .main__services {
//   // margin-top: $gap;
// }

.services {
  &__title {
    text-align: center;
    font-family: $font-titles;
    font-size: $fontsize-desktop-h2;
    font-weight: 500;
    margin-bottom: $gap-undertitle;
  }

  &__wrapper-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vw 50vw;
    column-gap: 2vw;
    row-gap: 4vh;
  }

  &__card-1 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 1fr 1fr;
    justify-content: center;
  }

  &__card-2 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 1fr 1fr;
    justify-content: center;
  }

  &__card-3 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 1fr 1fr;
    justify-content: center;
  }

  &__card-4 {
    border: 2px solid $color-btn-text-blue;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 13% 5% 1fr 1fr;
    justify-content: center;
  }
}

//.container {}

//.title {}

.card {
  &__title {
    text-align: center;
    justify-content: center;
    background-color: $color-btn-text-blue;
    border-radius: 30px 30px 0 0;
  }

  &__title_main {
    font-family: $font-titles;
    font-size: $fontsize-desktop-undertitle;
    font-weight: 400;
    font-style: normal;
    color: $color-btn-text-white;
    line-height: 38.4%;
  }

  &__title_green {
    font-family: $font-titles;
    font-size: $fontsize-desktop-undertitle;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: $color-lite-green;
  }

  &__subtitle {
    font-family: $font-titles;
    font-size: $fontsize-desktop-h3;
    font-weight: 500;
    color: $color-btn-text-blue;
    line-height: 100%;
    text-align: center;
    padding-top: 2vw;
  }

  &__all-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1vw;
  }

  &__text {
    padding: 0 5vw 0 5vw;
    font-family: $font-texts;
    font-size: $fontsize-desktop-smalltext;
    font-weight: 400;
    text-align: justify;
    line-height: 1.3vw;
  }

  &__btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 3vh;
    column-gap: 2vw;
  }

  &__text_blue {
    color: $color-btn-text-blue;
  }
}

.line {
  padding-left: 2vw;
  padding-right: 2vw;
}

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  border-color: transparent;
  width: 40px;
  height: 40px;

  /*   height: 3vw;
  width: 3vw; */
  background-color: $color-btn-text-blue;
  cursor: pointer;

  transition: background-color 0.6s;

  //.iconsocial {
  //width: 1.5vw;
  // height: 1.5vw;
  //}
}

.social_icon {
  background-image: url(../assets/image/telegram-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 17.45px;
  // width: 1.6vw;
  //height: 1.6vw;
  display: inline-block;

  &_whatsapp {
    background-image: url(../assets/image/whatsapp-icon.svg);
    width: 21px;
    height: 21px;
  }
}

.tel {
  padding-right: 0.7vw;
}

.button-round_green {
  background-color: $color-btn-text-green;
}

.button-round:hover {
  background-color: $color-btn-text-green;

  transition: background-color 0.8s;
}

.button-round_green:hover {
  background-color: $color-btn-text-blue;
}

//-----------adaptive tablet----------//

@media(min-width:767px) and (max-width:1023px) {

  .services {
    &__title {
      font-size: $fontsize-tablet-h2;
    }

    &__wrapper-cards {
      grid-template-rows: 80vw 80vw;
      grid-template-columns: 1fr 1fr;
    }

    &__card-1 {
      grid-template-rows: 20% 12% 5% 1fr 1fr;
    }

    &__card-2 {
      grid-template-rows: 20% 12% 5% 1fr 1fr;
    }

    &__card-3 {
      grid-template-rows: 20% 12% 5% 1fr 1fr;
    }

    &__card-4 {
      grid-template-rows: 20% 12% 5% 1fr 1fr;
    }
  }

  .card {
    &__title {
      font-size: $fontsize-tablet-undertitle;
    }

    &__title_main {
      line-height: 2.3vw;
    }

    &__subtitle {
      font-size: $fontsize-tablet-h3;
      padding-top: 3vw;
    }

    //&__all-text{}

    &__text {
      font-size: $fontsize-tablet-smalltext;
      line-height: 1.5vw;
      padding: 0 2vw 0 2vw;
    }
  }

  .position {
    font-size: $fontsize-tablet-undertitle;
    padding-top: 2vw;
    color: $color-btn-text-white;
  }

  .line-height {
    font-size: $fontsize-tablet-undertitle;
    padding-top: 2vw;
  }

  .tel {
    padding-right: 1vw;
  }

  .button-round {
    border-radius: 7vw;
  }
}


//-----------adaptive mobile---------//

@media screen and (max-width:766px) {

  .services {

    &__title {
      font-size: $fontsize-mobile-h2;
    }

    &__wrapper-cards {
      grid-template-columns: 1fr;
      grid-template-rows: 77vw 77vw 77vw 77vw;
    }

    &__card-1 {
      grid-template-rows: 18% 13% 5% 1fr 1fr;
    }

    &__card-2 {
      grid-template-rows: 18% 13% 5% 1fr 1fr;
    }

    &__card-3 {
      grid-template-rows: 18% 13% 5% 1fr 1fr;
    }

    &__card-4 {
      grid-template-rows: 18% 13% 5% 1fr 1fr;
    }
  }

  .card {
    &__title {
      font-size: $fontsize-mobile-undertitle;
    }

    &__subtitle {
      font-size: $fontsize-mobile-h3;
      padding-top: 3vw;
    }

    &__all-text {
      row-gap: 15px;
    }

    &__text {
      font-size: $fontsize-mobile-smalltext;
      line-height: 2.3vw;
    }

  }

  .position {
    font-size: $fontsize-mobile-undertitle;
    padding-top: 2vw;
    color: $color-btn-text-white;
  }

  .line-height {
    font-size: $fontsize-mobile-undertitle;
    padding-top: 2vw;
  }

  .social_icon {
    width: 10px;
    height: 10px;

    &_whatsapp {
      width: 11px;
      height: 11px;
      padding-left: 6px;
    }
  }

  .button-round {
    border-radius: 4vw;
  }

  .tel {
    padding-right: 7px;
    width: 25px;
    height: 25px;
  }

  .button-round_green {
    width: 25px;
    height: 25px;
    padding-right: 5px;
  }
}