.task { 
  margin-top: 9.375rem;

&__title {
  margin-bottom: 5rem;

}

&__row-1 {
 
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: repeat(5,1fr);
 gap: 2.6%;
 .row { 
  &__item { 
    display: flex;
    max-width: 178px;
    flex-direction: column;
    align-items: center;
    font-family: $font-texts;
    font-size: 1.25rem ;
    font-style: 400; 
    line-height: 100%;
    
  }
  &__icon { } 
  &__text {  
    }
  }
}
 &__row-2 {
 margin: 0 6vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit,minmax(178px,1fr));
  gap: 2.6%;
  margin-top: 14vh;
  .row { 
    &__item { 
      display: flex;
      max-width: 178px;
      flex-direction: column;
      align-items: center;
      font-family: $font-texts;
      font-size: 1.25rem ;
      font-style: 400; 
      line-height: 100%;
      
    }
    &__icon { } 
    &__text {  
    
    }
    }
}
&__subtitle { 
 text-align: center;
 margin-top: 5.94rem;
 font-family: $font-texts;
 font-size: 1.25rem ;
 font-style: 700; 
 line-height: 120%;
 }

&__btn { 
  display: flex;
  gap:3vw;
  justify-content: center;
  margin-top: 2.25rem;
.button-long { 
  max-width: 265px;
  background-color:$color-btn-text-blue;

}
.button-long_green {
  max-width: 265px;
background-color:$color-btn-text-green;
}
}
}