//Переменные для шрифтов


//Переменные цветов для текста и кнопок
$color-primary: #1e2124;
$color-btn-text-blue: #245799;
$color-btn-text-green: #077840;


//Цвета для фонов
$clr-bg-frame: #f9f7f1;

//Переменные breakpoints
