//Переменные для шрифтов
$font-texts: "Montserrat";
$font-titles: "Museo Sans Cyrillic";


//Переменные цветов для текста и кнопок
$color-primary: #1e2124;
$color-btn-text-blue: #245799;
$color-btn-text-green: #077840;
$color-btn-text-white: #ffffff;


//Цвета для фонов
$clr-bg-frame: #f9f7f1;

//Переменные breakpoints
//размеры шрифтов для десктопа
$fontsize-desktop-h2: 3.5vw;
$fontsize-desktop-h3: 2.5vw;
$fontsize-desktop-undertitle: 2vw;
$fontsize-desktop-text: 1.18vw;
$fontsize-desktop-smalltext: 1.1vw;
//размеры шрифтов для планшета (до 1023px)
$fontsize-tablet-h2: 3.9vw;
$fontsize-tablet-h3: 2.9vw;
$fontsize-tablet-undertitle: 2.5vw;
$fontsize-tablet-text: 1.5vw;
$fontsize-tablet-smalltext: 1.3vw;
//размеры шрифтов для телефона (до 767px)
$fontsize-mobile-h2: 6vw;
$fontsize-mobile-h3: 4.5vw;
$fontsize-mobile-undertitle: 3vw;
$fontsize-mobile-text: 3.5vw;
$fontsize-mobile-smalltt: 3.3vw;

//отступы между блоками и под заголовком
$gap: 15vw;
$gap-undertitle: 5vw;