@import './reset';
@import './vars';
@import './fonts';
@import './header';
@import './about';
@import './hello';
@import './approach';
@import './photo-4';
@import './task';
@import './services';
@import './services-business';
@import './photo-8';
@import './reviews';
@import './sertificates';
@import './message-me';
@import './footer';

.html {
  font-family: $font-texts;
  font-size: 1.25rem;
  font-style: 400;
  line-height: 100%;
  color: $color-primary;
}

.container {
  max-width:1160px;
  margin: 0 auto;
}

.img{
  max-width: 100%;
  width: 100%;
  height: auto;
}
.title {
  font-family: $font-titles;
  font-size: 4.25rem;
  font-style: 500;
  line-height: 100%;
  text-align: center;
  color: $color-primary;
}

.slogan {
  font-family: $font-titles;
  font-size: 2.625rem;
  font-style: 500;
  line-height: 100%;
  color: $color-btn-text-blue;
}

.button-long {
  color: $color-btn-text-white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1rem;
  border-radius: 30px;
  font-family: $font-texts;
  font-size: 1.125rem;
  font-style: 400;
  line-height: 122%;
  border-color: transparent;
}

.button-long:hover {
  background-color: $color-btn-text-green;
  color: $color-btn-text-white;
}

.button-long_green:hover {
  background-color: $color-btn-text-blue;
  color: $color-btn-text-white;
}

@media(min-width:1024px) and (max-width:1439px) {

  .html {
    $fontsize-tablet-text: 1.5vw;
  }

  .container {
   width: 95%;}

   .title {
    $fontsize-tablet-h2: 3.9vw;
   }

   .slogan {
    $fontsize-tablet-h3: 2.9vw;}

    .button-long {
    $fontsize-tablet-text: 1.5vw;
    }
  }