* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 6vw 1vw;
  padding: 0;

  @media screen and (max-width:1023px) {
    margin: 0 6vw 0;
  }

  @media screen and (max-width: 767px) {
    margin: 0 6vw 0;
  }
}

h1 {
  color: #1e2124;
}

a {
  text-decoration: none;
  color: #1e2124;
}

h3 {
  color: #245799;
}

p {
  color: #1e2124;
}

span {
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: end;
}

button {
  cursor: pointer;

  background-color: #ffffff;
  transition: background-color 0.6s;
  border: 2px solid #245799;
  border-radius: 2vw;
  color: #1e2124;
  width: 9vw;
  height: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width:1023px) {
    border-radius: 2vw;
    font-size: 1vw;
    width: 10vw;
    height: 3vw;
  }

  @media screen and (max-width: 767px) {
    border-radius: 3vw;
    font-size: 2vw;
    width: 15vw;
    height: 5vw;
  }

  &:hover {
    background-color: #245799;
    transition: background-color 0.8s;
  }
}